<div>
    <app-navbar></app-navbar>
    <div class="mt-4">
        <h2 class="text-center text-success font-weight-bold">
            Select a Doctor
        </h2>
    </div>
    <div class="row m-2">
        <div class="col-md-4 col-lg-4">
            <div class="card my-4" style="background-color: #F8F7FF;">
                <img class="card-img-top" style="border-radius: 100%;" src="../../../assets/img/Rectangle 54.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <div class="card-title font-weight-bold">Carol Robinson</div>
                    <p class="card-text">Clinician, Kigali</p>
                    <a href="#" class="btn btn-md btn-success">Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card my-4" style="background-color: #F8F7FF;">
                <img class="card-img-top" style="border-radius: 100%;" src="../../../assets/img/Rectangle 54.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <div class="card-title font-weight-bold">Carol Robinson</div>
                    <p class="card-text">Clinician, Kigali</p>
                    <a href="#" class="btn btn-md btn-success">Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card my-4" style="background-color: #F8F7FF;">
                <img class="card-img-top" style="border-radius: 100%;" src="../../../assets/img/Rectangle 54.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <div class="card-title font-weight-bold">Carol Robinson</div>
                    <p class="card-text">Clinician, Kigali</p>
                    <a href="#" class="btn btn-md btn-success">Appointment</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-4 col-lg-4">
            <div class="card my-4" style="background-color: #F8F7FF;">
                <img class="card-img-top" style="border-radius: 100%;" src="../../../assets/img/Rectangle 54.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <div class="card-title font-weight-bold">Carol Robinson</div>
                    <p class="card-text">Clinician, Kigali</p>
                    <a href="#" class="btn btn-md btn-success">Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card my-4" style="background-color: #F8F7FF;">
                <img class="card-img-top" style="border-radius: 100%;" src="../../../assets/img/Rectangle 54.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <div class="card-title font-weight-bold">Carol Robinson</div>
                    <p class="card-text">Clinician, Kigali</p>
                    <a href="#" class="btn btn-md btn-success">Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card my-4" style="background-color: #F8F7FF;">
                <img class="card-img-top" style="border-radius: 100%;" src="../../../assets/img/Rectangle 54.png"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <div class="card-title font-weight-bold">Carol Robinson</div>
                    <p class="card-text">Clinician, Kigali</p>
                    <a href="#" class="btn btn-md btn-success">Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
